.shoppingmall {
  header {
    position: sticky;

    .toolbar {
      max-width: 1280px;
      margin-inline: auto;

      .toolbar-container {
        display: grid;
        grid-template-columns: repeat(2, 46px);
        position: relative;
        border-left: 1px solid var(--color-C9);
        border-right: 1px solid var(--color-C9);

        button {
          padding: .7em 1.2em;
          background-color: transparent;
          border: none;
          outline: none;
          border-right: 1px solid var(--color-C9);
        }
      }
    }

    .menu-list {
      max-width: 1280px;
      margin-inline: auto;

      .menu-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, auto));
        border-top: 1px solid var(--color-C9);
        border-left: 1px solid var(--color-C9);

        .menu {
          padding: 1.2em;
          border-right: 1px solid var(--color-C9);
          border-bottom: 1px solid var(--color-C9);
          font-size: var(--font-10);
          font-weight: var(--font-semibold);
          text-transform: uppercase;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .shoppingmall {
  }
}

@media (max-width: 800px) {
  .shoppingmall {
  }
}