* {
  padding: 0;
  margin: 0;
  font-family: Pretendard, sans-serif;
  font-weight: var(--font-regular);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-90);
}

::-webkit-scrollbar-track {
  background-color: var(--color-C9);
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-18);
}

.pointer {
  cursor: pointer !important;
}

.layout {
  display: grid;
  grid-template-columns: 180px auto;
  transition: all .33s;

  > nav {
    text-transform: capitalize;
    min-height: 100vh;
    background-color: var(--color-FF);
    border-right: 1px solid var(--color-C9);
    transition: max-width .33s;
    position: relative;
    z-index: 99;

    .toggle-btn {
      display: none;
      background-color: var(--color-FF);
      position: absolute;
      left: 100%;
      padding: .7em;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--color-C9);
      border-top-width: 0;
      border-left-width: 0;
    }

    &:hover {
      .toggle-btn {
        display: flex;
      }
    }

    .menu-list {
      overflow-x: hidden;
      display: flex;
      flex-direction: column;

      .menu {
        padding: 1.2em;
        min-width: 120px;
        font-size: var(--font-12);
        font-weight: var(--font-semibold);
        cursor: pointer;
      }
    }
  }

  &.toggle {
    grid-template-columns: 0 auto;

    nav > .toggle-btn > svg {
      transform: rotateY(180deg);
    }
  }
}

