* {
  padding: 0;
  margin: 0;
  font-family: Pretendard, sans-serif;
  font-weight: var(--font-regular);
  text-transform: capitalize;
}

ul, li {
  list-style: none;
}

.link {
  cursor: pointer;
}

header {
  background-color: var(--color-18);
  position: sticky;
  padding: 0 20px;
  top: 0;
  z-index: 99;

  #navigator {
    margin: auto;
    max-width: 1200px;
    position: relative;
    width: 100%;
    color: var(--color-F9);
    transition: all .5s;

    ul {
      display: flex;
      flex-direction: row;

      li {
        padding: 20px 0;
        font-size: 14px;
      }

      li:not(:first-child) {
        margin-left: 30px;
      }
    }
  }
}

footer {
  margin-top: 20px;
  background-color: var(--color-F9);
  color: var(--color-72);
  font-size: var(--font-12);

  #footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    p > a {
      color: var(--color-72);
    }

    p:not(:first-child) {
      margin-top: 20px;
    }
  }
}
