:root{
  // Color Code
  --color-18: #181818;
  --color-36: #363636;
  --color-54: #545454;
  --color-72: #727272;
  --color-90: #909090;
  --color-FF: #FFFFFF;

  // Font Size
  --font-32: 32px;
  --font-28: 28px;
  --font-24: 24px;
  --font-18: 18px;
  --font-14: 14px;
  --font-12: 12px;

  // Font Weight
  --font-bold: 800;
  --font-semibold: 600;
  --font-regular: 400;
  --font-thin: 200;
}